[general]
name = "causal_conv1d"
backends = ["cuda"]

[torch]
src = [
    "torch-ext/pytorch_shim.h",
    "torch-ext/torch_binding.cpp",
    "torch-ext/torch_binding.h",
]

[kernel.causal_conv1d]
backend = "cuda"
depends = ["torch"]
include = ["causal-conv1d"]
src = [
    "causal-conv1d/causal_conv1d_bwd.cu",
    "causal-conv1d/causal_conv1d_common.h",
    "causal-conv1d/causal_conv1d.cpp",
    "causal-conv1d/causal_conv1d_fwd.cu",
    "causal-conv1d/causal_conv1d.h",
    "causal-conv1d/causal_conv1d_update.cu",
    "causal-conv1d/static_switch.h",
]
