[general]
name = "rmsnorm"
version = 1
backends = [
    "cpu",
    "xpu",
]

[torch]
src = ["torch-ext/torch_binding.cpp"]

[kernel.rmsnorm_xpu]
backend = "xpu"
depends = ["torch"]
include = ["rmsnorm_xpu/dpcpp"]
src = [
    "rmsnorm_xpu/RMSNorm.hpp",
    "rmsnorm_xpu/RMSNorm.cpp",
    "rmsnorm_xpu/Norm.h",
    "rmsnorm_xpu/dpcpp/Device.cpp",
    "rmsnorm_xpu/dpcpp/Device.h",
    "rmsnorm_xpu/dpcpp/Utils.h",
    "rmsnorm_xpu/dpcpp/Array.h",
    "rmsnorm_xpu/dpcpp/AccumulateType.h",
    "rmsnorm_xpu/dpcpp/Allocator.cpp",
    "rmsnorm_xpu/dpcpp/Allocator.h",
    "rmsnorm_xpu/dpcpp/AllocationInfo.h",
    "rmsnorm_xpu/dpcpp/IndexUtils.cpp",
    "rmsnorm_xpu/dpcpp/IndexUtils.h",
    "rmsnorm_xpu/dpcpp/MemoryAccess.h",
    "rmsnorm_xpu/dpcpp/MemoryFormat.h",
    "rmsnorm_xpu/dpcpp/Memory.h",
    "rmsnorm_xpu/dpcpp/Memory.cpp",
    "rmsnorm_xpu/dpcpp/Numerics.h",
    "rmsnorm_xpu/dpcpp/DPCPP.h",
    "rmsnorm_xpu/dpcpp/CachingDeviceAllocator.cpp",
    "rmsnorm_xpu/dpcpp/CachingDeviceAllocator.h",
    "rmsnorm_xpu/dpcpp/DeviceAllocator.h",
    "rmsnorm_xpu/dpcpp/Barrier.h",
    "rmsnorm_xpu/dpcpp/Barrier.cpp",
    "rmsnorm_xpu/dpcpp/tensor/Context.cpp",
    "rmsnorm_xpu/dpcpp/tensor/Context.h",
    "rmsnorm_xpu/dpcpp/tensor/OpaqueTensorFactories.h",
    "rmsnorm_xpu/dpcpp/tensor/OpaqueTensorFactories.cpp",
    "rmsnorm_xpu/dpcpp/tensor/Tensor.cpp",
    "rmsnorm_xpu/dpcpp/tensor/Tensor.h",
    "rmsnorm_xpu/dpcpp/tensor/TensorMeta.cpp",
    "rmsnorm_xpu/dpcpp/tensor/TensorMeta.h",
    "rmsnorm_xpu/dpcpp/oneDNN/Reorder.h",
    "rmsnorm_xpu/dpcpp/oneDNN/Runtime.cpp",
    "rmsnorm_xpu/dpcpp/oneDNN/Runtime.h",
    "rmsnorm_xpu/dpcpp/oneDNN/Utils.h",
]

[kernel.rmsnorm_cpu_avx2]
backend = "cpu"
cxx-flags = [
    "-mavx2",
    "-mfma",
    "-fopenmp",
    "-mf16c",
]
depends = ["torch"]
include = ["rmsnorm_cpu"]
src = [
    "rmsnorm_cpu/rmsnorm_avx2.cpp",
    "rmsnorm_cpu/rmsnorm_avx2.hpp",
    "rmsnorm_cpu/cpu_types_avx2.hpp",
]

[kernel.rmsnorm_cpu]
backend = "cpu"
depends = ["torch"]
include = ["rmsnorm_cpu"]
src = [
    "rmsnorm_cpu/rmsnorm_cpu_torch.cpp",
    "rmsnorm_cpu/rmsnorm_cpu.cpp",
    "rmsnorm_cpu/rmsnorm_cpu.hpp",
    "rmsnorm_cpu/cpu_features.hpp",
]

[kernel.rmsnorm_cpu_avx512]
backend = "cpu"
cxx-flags = [
    "-mfma",
    "-fopenmp",
    "-mf16c",
    "-mavx512f",
    "-mavx512bf16",
    "-mavx512vl",
]
depends = ["torch"]
include = ["rmsnorm_cpu"]
src = [
    "rmsnorm_cpu/rmsnorm_avx512.cpp",
    "rmsnorm_cpu/rmsnorm_avx512.hpp",
    "rmsnorm_cpu/cpu_types_avx512.hpp",
]
