[general]
name = "quantization-gptq"
universal = false

[torch]
src = ["torch-ext/torch_binding.cpp"]

[kernel.gptq_cpu]
backend = "cpu"
depends = ["torch"]
src = [
    "gptq_cpu/gptq_cpu_torch.cpp",
    "gptq_cpu/gptq_cpu.cpp",
    "gptq_cpu/gptq_cpu.hpp",
    "gptq_cpu/cpu_features.hpp",
]
include = ["gptq_cpu"]

[kernel.gptq_cpu_avx512]
backend = "cpu"
depends = ["torch"]
src = [
    "gptq_cpu/gptq_avx512.cpp",
    "gptq_cpu/gptq_avx512.hpp",
]
include = ["gptq_cpu"]
cxx-flags = ["-mfma", "-fopenmp", "-mf16c", "-mavx512f", "-mavx512bf16", "-mavx512vl", "-mavx512dq", "-mavx512bw", "-mavx512vbmi"]
